[user]
	email = andrewliu278@gmail.com
	name = Andrew Liu
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	lol = log --graph --oneline --decorate --color --all
[http]
	sslVerify = true
	sslCAInfo = /Users/andrew/.ssh/ca.pem
[merge]
	conflictstyle = diff3
